target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
out/artifacts/MyApp/com/itheima/controller/MenuController.class
out/artifacts/ssm_controller_war_exploded/META-INF/MANIFEST.MF
out/artifacts/MyApp/WEB-INF/classes/com/itheima/controller/TestServlet.class
out/artifacts/MyApp/WEB-INF/classes/com/itheima/controller/Test3.class
out/artifacts/MyApp/WEB-INF/classes/com/itheima/controller/MenuController.class
out/artifacts/MyApp/com/itheima/controller/TestServlet.class
out/artifacts/MyApp/com/itheima/controller/Test3.class
